@use '../../../styles/_variables' as *;


.employee-card {
  border-radius: $border-radius-base;
  font-family: $font-family-base;
  font-size: $font-size-base;
  background-color: var(--card-bg);
  color: var(--card-text);
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  }
}

.card-header {
  border-radius: $border-radius-base $border-radius-base 0 0;
  padding: $spacing-unit;
  background: linear-gradient(135deg, $secondary-color, $primary-color);
  color: var(--card-text);
}

.card-body p, .card-body p span  {
  margin-bottom: 0.5rem;
  color: var(--card-text);
}
